@import "src/index.scss";

.mainAd {
  max-width: 56.2rem;
  padding: 5.5rem 0 20.3rem 0;
  box-shadow: 100px 0 100px #000;
  background-color: #000;

  &-container {
    height: 76.5rem;
  }

  &-btn {
    background-color: $white;
    border-radius: 10rem;
    padding: 1.5rem 3rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    color: #323232;
    line-height: 1.25;
    font-size: 1.6rem;
    transition: .2s ease border-radius;

    &:hover {
      border-radius: 40px 0 40px 0;

    }
  }

  &-btns {
    background-color: transparent;
    border: none;
    display: flex;
    flex-wrap: nowrap;
  }


  &-text {
    color: #C2C2C2;
    line-height: 1.55;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
  }

  &-title {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    font-size: 8rem;
    line-height: 0.9;
    margin-bottom: 5rem;
  }

  &-info {
    &--rating {

      &::after {
        content: '';
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url('../../access/mainAd/star.svg');
        margin-left: 1rem;

      }
    }

    font-weight: 800;
    margin-bottom: 2.9rem;

    &--year {
      margin-right: 1.8rem;
    }

    &--adult {
      margin-right: 1.8rem;
      position: relative;
      width: 6rem;
      display: inline-block;
      text-align: center;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2.4rem;
        background-image: url('../../access/mainAd/border.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: calc(50% - 1.2rem);
        left: 0;
        right: 0;
      }
    }

    &--duration {
      margin-right: 6rem;
    }
  }
}

.section-mainAd {
  position: relative;
  border-bottom: .2rem solid #2F2E2E;
  overflow: hidden;

}

.mainAd-image {
  position: absolute;
  right: 0;
  z-index: -1;
  height: 100%;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;

  &:hover {

  }

  img {
    margin-right: 1.5rem;
  }
}