@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;600;700;800&display=swap');

$white: #fff;
$main-gradient: linear-gradient(to bottom right, #326cff, #26fff2);
$main-gradient-reverse: linear-gradient(to bottom right, #26fff2, #326cff);
$gradient-banner: linear-gradient(90deg, rgba(13, 26, 115, 1) 0%, rgba(0, 0, 0, 1) 100%);
html {
  font-size: 10px;
}

.container {
  max-width: 144rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  font-family: 'Mulish', sans-serif;
}

.gradient-btn {
  background: $main-gradient;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  border: none;
  cursor: pointer;
  color: $white;
  line-height: 1.25;
  font-size: 1.6rem;
  transition: .2s ease border-radius;
  box-shadow: 0 4px 50px rgba(50, 108, 255, 0.5);

  &:hover {
    border-radius: 0 40px 0 40px;

  }

}

